<div class="cool-thing jumbotron media">
  <img src={{@coolthing.image}} class="mr-3" alt="...">
  <div class="media-body">
    <h3 class="mt-0">{{@coolthing.title}}</h3>
    {{@coolthing.description}}
  </div>
</div>
