<div class="cool-thing jumbotron media">
  <div class="media-body">

    <h2 class="mt-0 cool-thing-title">{{@coolthing.title}}</h2>

    <div>
        <p style="float: left;"><img src={{@coolthing.image}} border="1px"></p>
        <p>{{{@coolthing.description}}}</p>
    </div>

  </div>
</div>
