<div class="cool-thing jumbotron media">
  <div class="media-body">

    <h2 class="mt-0 cool-thing-title">{{@coolthing.title}}</h2>

    <div>
        <p class="cool-thing-img"><img src={{@coolthing.image}} ></p>
        <p>{{{@coolthing.description}}}</p>
    </div>

  </div>
</div>
