<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <NavBar />
<div class="container">
  <div class="body">
  	<div class="right my-face"></div>
    {{outlet}}
  </div>
  <footer> 
     <a href="https://www.github.com/mpallone" class="github bottom-icons"></a>
     <a href="mailto:mark.c.pallone@gmail.com" class="email bottom-icons"></a>
     <a href="https://www.linkedin.com/in/mark-pallone-1b571146" class="linkedin bottom-icons"></a>
 </footer>
</div>
