<div class="jumbotron" >
    <div class="right my-face"></div>

    <p>
        Hello! This page highlights some of the work I've done over the past few years, because I can't fit it all on my one-page <a href="https://www.dropbox.com/s/q40zlt8ed9uftel/resume.pdf?dl=0">resume</a>.
    </p>

    <p>
        Most recently, I wrote flight software that will run aboard NASA's <a href="https://pace.oceansciences.org/oci.htm">PACE satellite</a>, and before that I worked for the Planetary Environments Laboratory with the team that helped build the Curiosity rover. In that role I updated some of <a href="https://mars.nasa.gov/msl/spacecraft/instruments/sam/">Curiosity's mass spectrometer's</a> telemetry processing software for the <a href="http://www.esa.int/Science_Exploration/Human_and_Robotic_Exploration/Exploration/ExoMars">ExoMars Rover</a>.
    </p>

    <p>
    	Outside of work I like to rock climb, dance argentine tango, read, run, cook, and play with my endearingly odd and floofy cat <span id="marmalady">Marmalade. 🐈<br/><img  src="/assets/images/marmalady.jpeg" /></span>
    </p>
</div>

<div class="cool-things">
	<ul>
        {{#each @model as |coolthing|}}
          <li><CoolThing @coolthing={{coolthing}} /></li>
        {{/each}}
	</ul>
</div>

